# Python
__pycache__/
.pytest_cache/
*.pyc
*.egg-info/
venv/
.venv/
dist/
build/

# Runtime clutter
exports/
scratch/
*.log
*.parquet
*.zip
*.gz
demo.cast

# MacBS
._*
.DS_Store

# Private docs
privdocs/
